<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <div class="">
      <form action="" method="" id="add-todo">
        <h3>Add an activity:</h3>
        <input type="text" name="activity" />
        <button type="submit" form="add-todo">Add to list!</button>
      </form>

      <form action="/view-list" method="get" id="view-list-link">
        <button type="submit" form="view-list-link">View list</button>
      </form>
    </div>

    <script src="" async defer></script>
  </body>
</html>
