<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %> <%toDoList.forEach(item => {%>
    <h3 class=""><%=item.activity%></h3>
    <!-- list will be a clickable button that modifies the done property -->
    <p><%=item.done%></p>
    <%})%>

    <script src="" async defer></script>
  </body>
</html>
